.Wrapper {
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity));
    font-size: 14px;
    line-height:25px;
    background-color: white;
    @media screen and (max-width:760px) {
        display:none;
    }
}

.head {
    @media (max-width:760px) {
        
    }
}

.Nav {
    background-color: #FFFF;
    opacity: 0.8;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    position: fixed;
    z-index: 1;
}

.Navitems {
    align-items: center;
    margin: 10px;
    height: 3.5rem;
    font-family: Times;
}

.Navhome {
    display: flex;
    --tw-space-x-reverse: 0;
    margin-right: calc(1rem * var(--tw-space-x-reverse));
    margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

.Itemslink{
    color: #696969;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.25rem;
    margin:20px;
}

@media screen and (max-width:768px) {
    .Navitems{
        visibility: hidden;
    }    
}