.Wrapper {
    background-color: white;
    width: 90vw;
    height: auto;
    margin: 3.5rem;
}

.TitleWrapper {
    text-align: center;
}

.title {
    font-size: 2.5rem;
    display: inline-block;
    margin: 30px;
    border-bottom: 2px solid;
    font-weight: bold;
    padding: 10px;
    height: auto;
    letter-spacing: 0.3em;
    font-family: Times;
}

.ContentsWrapper {
    display: flex;
    box-shadow: 10px 10px 10px #DCDCDC;
    border-radius: 10px;
}

.ImageWrapper{
    margin:50px;
    width: 40vw;
}

.Greeting {
    font-size: 1.5rem;
    margin: auto;    
    letter-spacing: 0.1rem;
    overflow-wrap: break-word;
    width: 40vw;
    float: right;
    line-height: 2.0;
}

.icons {
    /* display: inline-block; */
    margin-top: 10px;
    font-size: 60px;
    align-items: center;
    justify-content: center;
}

.animation {
    animation: fadeIn 2s linear both;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media screen and (max-width:900px) {
    .Wrapper {
        margin: 10px;
    }

    .title {
        font-size: 28px;
        margin: 10px;
    }

    .ContentsWrapper {
        flex-flow: column;
    }

    .ImageWrapper {
        width:80vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .Greeting {
        font-size: 18px;
        width: 90vw;
    }

    .icons {
        font-size: 50px;
        margin-bottom: 2rem;
    }
    
}