.name{
    background-color: transparent;
    border: 2px solid black;
}

.ContentsWrapper {
    margin-top:3.5rem;
    width:80vw;
    height:auto;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}

.TitleWrapper {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 2.5rem;
    margin-top:10px;
    display: inline-block;
    border-bottom: 2px solid;
    padding: 10px;
    letter-spacing: 0.3em;
    font-family: Times;
}

.FormWrapper {
    margin:auto;
    justify-content: center;
    display: flex;
}

.animation {
    animation: fadeIn 1.5s linear both;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media screen and (max-width:900px) {
    .ContentsWrapper {
        margin-top: 0;
        width: 90vw;
    }

    .title {
        font-size: 28px;
    }

    .Label {
        margin-left: auto;
        margin-right: auto;
    }
}