.GreetingWrapper{
    align-items: center;
    margin:5rem;
    display: flex;
}

.ContentsWrapper{
    width:30vw;
    height:auto;
    margin:70px;
}

.title {
    font-size: 2.5rem;
    justify-items: center;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.3em;    
}

.Contents{
    font-size: 1.5rem;
    margin-top: 20px;
    line-height: 3rem;
    text-align: start;
}

@media screen and (max-width:900px) {
    .GreetingWrapper{
        margin-top:0;
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    .ContentsWrapper{
        width:80vw;
    }

    .title {
        font-size:28px;
    }

    .Contents{
        font-size: 18px;
        width: 100%;
    }

    .ImageWrapper {
        width:90vw;
    }
}
